{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="container">
    <table class="table">
        <tbody>
            <tr>
                <td><img src="/static/pics/pic1.jpg" class="img-thumbnail"height="300" width="300"></td>
                <td><img src="/static/pics/pic2.jpg" class="img-thumbnail"height="300" width="300"></td>
                <td><img src="/static/pics/pic3.jpg" class="img-thumbnail"height="300" width="300"></td>
            </tr>
            <tr>
                <td><img src="/static/pics/pic4.jpg" class="img-thumbnail"height="300" width="300"></td>
                <td><img src="/static/pics/pic5.jpg" class="img-thumbnail"height="300" width="300"></td>
                <td><img src="/static/pics/pic6.jpg" class="img-thumbnail"height="300" width="300"></td>
            </tr>
            <tr>
                <td><img src="/static/pics/pic7.jpg" class="img-thumbnail"height="300" width="300"></td>
                <td><img src="/static/pics/pic8.jpg" class="img-thumbnail"height="300" width="300"></td>
                <td><img src="/static/pics/pic9.jpg" class="img-thumbnail"height="300" width="300"></td>
            </tr>
        </tbody>
    </table>
</div>

    </div>
    {% endblock %}
